.btn-mode2 {
  display: inline-block;
  padding: 10px 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #29467d;
  background-color: #fdcf5d;
  border: none;
  border-radius: 2px;
  box-shadow: 0 9px #eeae0e;
}

.btn-mode2:hover {
  background-color: #fdcf5d;
}

.btn-mode2:active {
  background-color: #fdcf5d;
  box-shadow: 0 5px #eeae0e;
  transform: translateY(4px);
}
