

/* position: absolute;
top: 50%;
transform: translate(0, -50%); */

.BG {
  background-color: #bec6af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
}

.middle{
height: 300px;
}
/* .header {
  padding-top: 50px;
  position: absolute;
} */

.nameHeader {
  font-family: "Monoton", cursive;
  font-size: 170%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.font-style {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.02em;
}
