.AnswerStyle {
  width: 90px;
  height: 70px;
  display: inline-block;
  /* padding: 10px 14px; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #29467d;
  background-color: #fdcf5d;
  border: none;
  border-radius: 2px;
  box-shadow: 0 10px #eeae0e;
}
