.OperatorStyle {
  width: 120px;
  height: 80px;
  display: inline-block;
  /* padding: 10px 14px; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fdcf5d;
  background-color: #29467d;
  border: none;
  border-radius: 2px;
  box-shadow: 0 10px #122852;
}

.OperatorStyle:hover {
  background-color: #29467d;
}

.OperatorStyle:hover:active {
  background-color: #29467d;
  box-shadow: 0 7px #071f4b;
  transform: translateY(4px);
}
