.WatchBody {
  padding-top: 55px;
  background-color: #d2cab5;
}

.WatchStyle {
  box-sizing: border-box;
  padding: 5px;
  background: cadetblue;
}

.numbers{
  font-family: inherit;
  font-size: 40px;
  font-weight: bold;
  
}

.BoxElement {
  height: 250px;
}